/* elements */
/* ------------------ */
a {
    color: #0D1321;
}

a:hover {
    color: #0D1321;
    text-decoration: none;
}

body {
    background-color: rgb(189, 235, 230);
    color: #0D1321;
}

h5 {
    margin-left: 10px;
    margin-top: -20px;
}

/* classes */
/* ------------------ */
.fa-linkedin {
    background: #0D1321;
    color: white;
  }

.fa-linkedin:hover {
    background: red;
    color: white;
  }

.nameHead {
    color: #0D1321;
    text-align: left;
}

.fa-github {
    color: #0D1321;
}

.fa-github:hover {
    background: red;
    color: black;
}

.fa-envelope {
    transform: scale(1.5 , 1.5);
}

.fa-user {
    transform: scale(1.5 , 1.5);
}

.socialMedia {
    text-align: right;
}

.seekingPos {
    color: #6D454C;
    margin-top: 5px;
}

.infoBox {
    text-align: center;
    padding-top: 400px;
    padding-bottom: 25px;
    margin-top: 60px;
    border: 5px white solid;
}

.dialogueBox {
    background-color: white;
    color: #0D1321;
    padding: 20px;
    height: auto;
    margin-top: 60px;
}

.about {
    height: 100%;
    max-height: 550px;
    border-top: 10px solid #C5d86d;
    overflow: auto;
}

.contact {
    height: 100%;
    max-height: 550px;
    border-top: 10px solid #ffeddf;
    overflow: auto;
}

.submit {
    border: 1px solid #0D1321;
    background-color: #ffeddf;
}

.submit:hover {
    transform: scale(1.1 , 1.1);
}

.portfolio {
    height: 100%;
    max-height: 550px;
    border-top: 10px solid #afe0ce;
    overflow: auto;
}

.resume {
    height: 100%;
    max-height: 550px;
    border-top: 10px solid #dc2e4b;
    overflow: auto;
}

.cardImg {
    width: auto;
    height: 400px;
}

.bigname {
    font-Size: 30px;
    color: #6D454C;
    background-color: #FFEDDF;
    padding: 25px;
}

/* id */
/* ------------------ */

#aboutBox {
    max-height: 550px;
    background-color: #C5d86d;
    transition: border-radius 2s;
}

#aboutBox:hover {
    border-radius: 25px;
    transition: border-radius 1s;
}

#portfolioBox {
    max-height: 550px;
    background-color: #afe0ce;
    transition: border-radius 2s;
}

#portfolioBox:hover {
    border-radius: 25px;
    transition: border-radius 1s;
}

#resumeBox {
    max-height: 550px;
    background-color: #dc2e4b;
    transition: border-radius 2s;
}

#resumeBox2 {
    max-height: 550px;
    background-color: #dc2e4b;
    transition: border-radius 2s;
    display: none;
}

#resumeBox2:hover {
    border-radius: 25px;
    transition: border-radius 1s;
}

#resumeBox:hover {
    border-radius: 25px;
    transition: border-radius 1s;
}

#contactBox {
    max-height: 550px;
    background-color: #ffeddf;
    transition: border-radius 2s;
}

#contactBox2 {
    max-height: 550px;
    background-color: #ffeddf;
    transition: border-radius 2s;
    display: none;
}

#contactBox:hover {
    border-radius: 25px;
    transition: border-radius 1s;
}

#contactBox2:hover {
    border-radius: 25px;
    transition: border-radius 1s;
}

/* Media Queries */
/* ---------------- */

@media screen and (max-width: 2000px) {

    .displayNone {
        display: none;
    }

    .card-img-top {
        width: 264px;
        height: 250px;
    }

}

@media screen and (max-width: 640px) {
    .card-img-top {
        width: 100%;
    }
    .card {
        width: 100%;
    }
    .nameHead {
        text-align: center;
    }
    .socialMedia {
        text-align: center;
    }
    .hideMe {
        display: none;
    }

    .infoBox {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }

    #aboutBox {
        height: 50px;
        width: 100%;
        margin-top: 25px;
    }

    #portfolioBox {
        height: 50px;
        width: 100%;
        margin-top: 25px;
    }

    #contactBox {
        height: 50px;
        width: 100%;
        margin-top: 25px;
    }

    #contactBox2 {
        height: 50px;
        width: 100%;
        margin-top: 25px;
        display: inherit;
    }

    #resumeBox {
            height: 50px;
            width: 100%;
            margin-top: 25px;
    }

    #resumeBox2 {
        max-height: 50px;
        background-color: #dc2e4b;
        margin-top: 25px;
        display: inherit;
    }


    /* Keyframes */
    /* ---------------- */

    @keyframes FadeInBottom {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }

    }
}

/* Keyframes */
/* ---------------- */

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes FadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes FadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}